<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tax.name %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @tax.tax %>
</p>

<p>
  <strong>Province:</strong>
  <%= @tax.province_id %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
